extends layout

block content
  .jumbotron
    h1= title
  .col-md-12  
    form#formAddRelations(name="addprogeny",method="post",action="/api/v1/alpaca/progeny")
    .form-group  
      label Progeny
      select.form-control(, name="progeny")
        each alpaca, i in alpacalist
          option #{alpaca.herd} #{alpaca.name}
    button#btnSubmit.btn.btn-success(type="submit") submit
