extends layout

block content
  .jumbotron
    h1= title
  .col-md-6
    form#formAddUser(name="adduser",method="post",action="/api/v1/alpaca/new")
      .form-group  
        label Herd
        select.form-control(name="alpacaherd")
          option Incan Treasure
          option Flying Alpacas
          option Natural Allure
      .form-group
        label Alpaca Name
        input.form-control(type="text", placeholder="Alpaca Name", name="alpacaname" pattern="^[A-Z]+[a-zA-Z ]*" title="Must begin with a capital letter" required)
      .form-group  
        label Alpaca Type
        select.form-control(placeholder="Huacaya", name="alpacatype")
          option Huacaya
          option Suri
      .form-group  
        label Alpaca Sex
        select.form-control(placeholder="Female", name="alpacasex")
          option Female
          option Male
          option Weather
      .form-group
        label Alpaca Date of Birth
        #dobpicker.input-group.date
          input.form-control(type='text' name="alpacadob")
          span.input-group-addon
            i.glyphicon.glyphicon-th
      .form-group  
        label Alpaca Status
        select.form-control(placeholder="Active", name="alpacastatus")
          option Active
          option Inactive
          option Dead
          option Unregistered
          option Other
      .form-group  
        label Alpaca Colour
        select.form-control(placeholder="Colour Code", name="alpacacolour")
          option White
          option Beige
          option Light Fawn
          option Medium Fawn
          option Dark Fawn
          option Light Brown
          option Medium Brown
          option Dark Brown
          option Bay Black
          option True Black
          option Light Silver Grey
          option Medium Silver Grey
          option Dark Silver Grey
          option Light Rose Grey
          option Medium Rose Grey
          option Dark Rose Grey/Roan
      button#btnSubmit.btn.btn-success(type="submit") submit
  .col-md-6
    img.img-responsive(src='images/alpaca-colours.jpg', alt='Alpaca Colour Chart')
  
